.poi-button {
    border: 2px solid #3d8f6e;
    margin-bottom: 0px;
  }
  
  .poi-button:hover {
    opacity: 0.5;
  }
  
  .poi-button-selected {
    border: 2px solid black;
  }
  
  .poi-button-clear {
    opacity: 0.3;
  }
  
  .poimenu {
    background-color: #3d8f6e;
    opacity: 0.75;
    position: absolute;
    bottom: 0;
    padding: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    max-height: 58px;
  }
  
  
  @media only screen and (max-width: 650px) {
    .poimenu {
      display: none !important;
    }
  }
  
  .viamap-sprite {
    object-fit: none;
    object-position: 0 0;
    min-width: 50px;
    min-height: 50px;
    background: url("../images/sprite.png");
    display: inline-block;
  }
  
  .viamap-sprite-letbane {
    background-position: -100px -86px;
  }
  
  .viamap-sprite-metro {
    background-position: -200px -86px;
  }
  
  .viamap-sprite-tog {
    background-position: -50px -136px;
  }
  
  .viamap-sprite-bus {
    background-position: -64px 0px;
  }
  
  .viamap-sprite-indkob {
    background-position: -50px -86px;
  }
  
  .viamap-sprite-motorvej {
    background-position: -250px -86px;
  }